html
{
background-color: #008080;
font-family: arial;
} 

/*/ J'applique une couleur de font bleu clair /*/


header
{
text-align: center
}

/*/ J'applique police arial et je centre le contenu /*/


h1,h2 
{
color: black;
text-align:center;
text-shadow:3px 3px silver;
border:3px solid black;
border-radius:7px;
text-transform:uppercase;
font-style:oblique;
font-family:arial;
background-color: #0080ff;
}

/*/ J'applique une police arial, une couleur noire et un style oblique. J'applique aussi une ombre silver de 3px sur 3px, je les encadre avec une bordure noire de 3px avec un radius de 7px et une couleur de font bleu clair. /*/


h3 {
text-align: center;
text-decoration: underline;
}

/*/ J'applique un centrage de texte et je les soulignes /*/


.comp {
background-color:red;
position: absolute;
top: 100px;

}

/*/ Je choisi une position absolue pour l'article>competences a 300px du haut, 1px de gauche et de taille 500px sur 500px /*/


.exp {
position: absolute;
top: 200px;
width: 380px;
height: 500px;
}

/*/ Je choisi une position absolue pour l'aricle>experiences a 300px du haut, 0px a droite et de taille 500px sur 500px /*/


.dip {
position: absolute;
top: 200px;
right: 405px;
left: 405px;
}

/*/ Je centre diplome, a 405 du bord droit et gauche et 300px du haut /*/


.loi {
position: absolute;
top: 200px;
width: 900px
}

/*/ A 650px de haut et taille de 900px /*/
