section{
top: 100px;
right: 405px;
left: 405px;
}

h1,h2{
color: black;
text-align:center;
text-shadow:3px 3px silver;
border:3px solid black;
border-radius:7px;
text-transform:uppercase;
font-style:oblique;
font-family:arial;
background-color: #0080ff;
}

h3{
text-align: center;
text-decoration: underline;
}

